body {
  background-color: lightblue;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button-container {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
button {
  height: 80px;
  width: 80px;
  font-size: 40px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 2px;
  background-color: hsl(150, 93%, 74%);
}
button:active {
  background-color: hsla(150, 92%, 74%, 0.466);
}
#AC,
#equal {
  width: 160px;
}
#equal {
  width: 320px;
}

.operator-btn,
.clear-btn,
.equal-btn {
  background-color: hsl(0, 93%, 71%);
}

.operator-btn:active,
.clear-btn:active,
.equal-btn:active {
  background-color: hsla(0, 93%, 71%, 0.527);
}
#display {
  width: 400px;
  height: 100px;
  background-color: lightgray;
  font-size: 80px;
  font-weight: bold;
  overflow: hidden;
}
#calculator {
  border: 5px black solid;
  border-radius: 20px;
  padding: 20px;
  background-color: grey;
}
