body {
  background-color: lightblue;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#button-container {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
button {
  height: 80px;
  width: 80px;
  border-radius: 2px;
  background-color: hsl(150, 93%, 74%);
}
button:active {
  background-color: hsla(150, 92%, 74%, 0.466);
}
#AC {
  width: 160px;
}
#equal {
  width: 160px;
}
input {
  width: 400px;
  height: 100px;
  background-color: lightgray;
  pointer-events: none;
}
#calculator {
  border: 10px black solid;
}
